<div class="card mb-2">
  <div class="card-header d-flex justify-content-between align-content-center">
    {{ task.title }}
    <div>
      <button [ngClass]="task.hide ? 'btn btn-primary' : 'btn btn-info'" class="mr-1" (click)="task.hide = !task.hide">
        {{ task.hide ? 'Show' : 'Hide' }}
      </button>
      <button class="btn btn-danger" (click)="deleteTask(task)">
        Delete
      </button>
    </div>
  </div>
  <div class="card-body" [hidden]="task.hide">
    {{ task.description }}
  </div>
</div>